name: Master Tool

on:
  workflow_call:
    secrets:
      github_actions_token:
        description: 'GAT'
        required: true
    inputs:
      is-merge-request:
        description: 'テストflg'
        type: boolean
        default: false

env:
  TEMP_BRANCH: pull/${{ github.event.pull_request.number }}/tool
  GH_HOST: github.com
  GH_REPO: ${{ github.repository }}
  GH_TOKEN: ${{ secrets.github_actions_token }}
  PR_NUMBER: ${{ github.event.number }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    
    - name: Install gh
      run: |
        sudo apt-get update
        sudo apt-get install -y gh

    - name: Debug gh auth
      run: gh auth status || true

    - name: Remove Label
      if: ${{ github.event.label.name != 'テスト実行3' && !inputs.is-after-merge-request }}
      run: gh pr edit ${{ github.event.pull_request.number }} --remove-label ${{ github.event.label.name }}
    
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: false
        ref: ${{ github.head_ref }}
        persist-credentials: false
      
    - name: マージ
      id: merge
      run: |
        git config --local user.email "yamazaki.yukari.0416@gmail.com"
        git config --local user.name "pomzaki"
        git config --global url.https://x-access-token:${{ secrets.github_actions_token }}@github.com/.insteadOf https://github.com/
        
        GIT_ASKPASS="/tmp/.git-askpass" git merge --no-ff origin/$base
      continue-on-error: true
      env:
        base: ${{ github.event.pull_request.base.ref }}
      
    - name: Append text to file
      run: echo "a" >> test.txt
      
    - name: Commit and push changes
      run: |
        git config --local user.email "yamazaki.yukari.0416@gmail.com"
        git config --local user.name "pomzaki"
        git config --global url.https://x-access-token:${{ secrets.github_actions_token }}@github.com/.insteadOf https://github.com/
        git add test.txt
        git commit -m "Add 'a' to test.txt"
        git push --force-with-lease origin HEAD:refs/heads/${{ github.event.pull_request.head.ref }}

    - name: その後、マージを実行する
      run: |

        # ステータス更新待機
        wait_until_settled() {
          # コミット後の情報更新に時間がかかる可能性があるため、計算が終わる(UNKNOWNでなくなる)まで最大30秒待機
          for i in {1..6}; do
            # 現在状態を取得
            pr_json=$(gh pr view "${{ github.event.pull_request.number }}" --repo "$GH_REPO" \
              --json state,mergedAt,mergeable,mergeStateStatus,isDraft,reviewDecision,autoMergeRequest)

            is_merged=$(echo "$pr_json" | jq -r '.state != null and .state == "MERGED"')
            is_mergeable_known=$(echo "$pr_json" | jq -r '.mergeable != null and .mergeable != "UNKNOWN"')
            is_mergestatus_known=$(echo "$pr_json" | jq -r '.mergeStateStatus != null and .mergeStateStatus != "UNKNOWN"')

            echo "Current pr status $pr_json"
            
            # マージ済みであれば終了
            if [ "$is_merged" = true ]; then
              echo "Already merged -> skipping auto-merge"
              exit 0
            fi

            if [ "$is_mergeable_known" = true ] && [ "$is_mergestatus_known" = true ]; then
              break
            fi

            echo "Waiting for mergeability check..."
            echo "Current pr status $pr_json"
            sleep 5
          done
        }

        # ステータス更新待機
        wait_until_settled

        # 1. auto-merge を有効化（auto-mergeが活性化していない場合は登録フェーズ）
        gh pr merge ${{ github.event.pull_request.number }} --merge --auto

        # ステータス更新待機
        wait_until_settled

        # 2. 1で登録した場合はマージが走っていないため再度マージを呼び出し
        gh pr merge ${{ github.event.pull_request.number }} --merge --auto
